{% extends 'base.html' %}

{% block title %}Delete Post{% endblock %}

{% block content %}

{% if user.is_authenticated and user.id == post.author.id %}

<div style="padding: 5%;">
    <h1>Delete Post</h1>

    <form method="POST">{% csrf_token %}
        <p>Are you sure you want to delete "{{ post.title }}"?</p>
        <button class="btn btn-danger">Delete</button>
    </form>
    {% else %}
    <h1>Must be logged in to author's account...</h1>
    <a href="{% url 'home'%}">Home</a>
    {% endif %}
</div>

{% endblock %}