{% extends 'base.html' %}

{% block content %}
    
<h1>Welcome to my Blog</h1>
<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'post' post.pk %}">{{ post.title }}</a> - 
        {{post.author.first_name}} {{post.author.last_name}} - 
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        <br/>
        {{ post.body }} 
    </li>
    {% endfor %}
</ul>
<a href="{% url 'new_post' %}">Create New Post</a>

{% endblock %}