{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<div style="padding: 5%;">
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - Added: {{ post.date_added }}</small>
    <br/>
    <small>Last Modified: {{ post.date_updated }}</small>
    {% if user.is_authenticated and user.id == post.author.id %}
        <br/><br/>
        <a href="{% url 'update_post' post.pk %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">Delete</a>
    {% endif %}
    <hr/>
    <div>
        {{ post.body|linebreaks }}
    </div>
</div>

{% endblock %}